
{{#partial "htmUserName"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SiteUserUserName">
					<div class="w3-card ">
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputUserName}}{{/block}}
							</div>
							{{#ifContainsAnyRoles roles, ROLES}}
								{{#ifeq "Page"classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-gray "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_userName')); $('#", {{classApiMethodMethod}}, "_userName').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SiteUserForm :input[name=pk]').val() }], 'setUserName', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_userName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userName')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/ifeq}}
							{{/ifContainsAnyRoles}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputUserName"}}
		{{#ifContainsAnyRoles roles, ROLES}}
			<input
				.a("type", "text")
				.a("id", {{classApiMethodMethod}}, "_userName");
				if("Page".equals({{classApiMethodMethod}}) || "PATCH".equals({{classApiMethodMethod}})) {
					a("class", "setUserName classSiteUser inputSiteUser", pk, "UserName w3-input w3-border ");
					a("name", "setUserName");
				} else {
					a("class", "valueUserName w3-input w3-border classSiteUser inputSiteUser", pk, "UserName w3-input w3-border ");
					a("name", "userName");
				}
				if("Page".equals({{classApiMethodMethod}})) {
					a("onclick", "removeGlow($(this)); ");
					a("onchange", "patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:", pk, "' }], 'setUserName', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_userName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userName')); }); ");
				}
				a("value", strUserName())
			.fg();

		} else {
				<span.a("class", "varSiteUser", pk, "UserName ").f().sx(htmUserName()).g("span");
		{{/ifContainsAnyRoles}}
{{/partial}}

{{#partial "htmUserEmail"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SiteUserUserEmail">
					<div class="w3-card ">
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputUserEmail}}{{/block}}
							</div>
							{{#ifContainsAnyRoles roles, ROLES}}
								{{#ifeq "Page"classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-gray "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_userEmail')); $('#", {{classApiMethodMethod}}, "_userEmail').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SiteUserForm :input[name=pk]').val() }], 'setUserEmail', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_userEmail')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userEmail')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/ifeq}}
							{{/ifContainsAnyRoles}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputUserEmail"}}
		{{#ifContainsAnyRoles roles, ROLES}}
			<input
				.a("type", "text")
				.a("id", {{classApiMethodMethod}}, "_userEmail");
				if("Page".equals({{classApiMethodMethod}}) || "PATCH".equals({{classApiMethodMethod}})) {
					a("class", "setUserEmail classSiteUser inputSiteUser", pk, "UserEmail w3-input w3-border ");
					a("name", "setUserEmail");
				} else {
					a("class", "valueUserEmail w3-input w3-border classSiteUser inputSiteUser", pk, "UserEmail w3-input w3-border ");
					a("name", "userEmail");
				}
				if("Page".equals({{classApiMethodMethod}})) {
					a("onclick", "removeGlow($(this)); ");
					a("onchange", "patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:", pk, "' }], 'setUserEmail', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_userEmail')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userEmail')); }); ");
				}
				a("value", strUserEmail())
			.fg();

		} else {
				<span.a("class", "varSiteUser", pk, "UserEmail ").f().sx(htmUserEmail()).g("span");
		{{/ifContainsAnyRoles}}
{{/partial}}

{{#partial "htmUserFirstName"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SiteUserUserFirstName">
					<div class="w3-card ">
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputUserFirstName}}{{/block}}
							</div>
							{{#ifContainsAnyRoles roles, ROLES}}
								{{#ifeq "Page"classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-gray "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_userFirstName')); $('#", {{classApiMethodMethod}}, "_userFirstName').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SiteUserForm :input[name=pk]').val() }], 'setUserFirstName', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_userFirstName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userFirstName')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/ifeq}}
							{{/ifContainsAnyRoles}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputUserFirstName"}}
		{{#ifContainsAnyRoles roles, ROLES}}
			<input
				.a("type", "text")
				.a("id", {{classApiMethodMethod}}, "_userFirstName");
				if("Page".equals({{classApiMethodMethod}}) || "PATCH".equals({{classApiMethodMethod}})) {
					a("class", "setUserFirstName classSiteUser inputSiteUser", pk, "UserFirstName w3-input w3-border ");
					a("name", "setUserFirstName");
				} else {
					a("class", "valueUserFirstName w3-input w3-border classSiteUser inputSiteUser", pk, "UserFirstName w3-input w3-border ");
					a("name", "userFirstName");
				}
				if("Page".equals({{classApiMethodMethod}})) {
					a("onclick", "removeGlow($(this)); ");
					a("onchange", "patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:", pk, "' }], 'setUserFirstName', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_userFirstName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userFirstName')); }); ");
				}
				a("value", strUserFirstName())
			.fg();

		} else {
				<span.a("class", "varSiteUser", pk, "UserFirstName ").f().sx(htmUserFirstName()).g("span");
		{{/ifContainsAnyRoles}}
{{/partial}}

{{#partial "htmUserLastName"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SiteUserUserLastName">
					<div class="w3-card ">
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputUserLastName}}{{/block}}
							</div>
							{{#ifContainsAnyRoles roles, ROLES}}
								{{#ifeq "Page"classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-gray "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_userLastName')); $('#", {{classApiMethodMethod}}, "_userLastName').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SiteUserForm :input[name=pk]').val() }], 'setUserLastName', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_userLastName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userLastName')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/ifeq}}
							{{/ifContainsAnyRoles}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputUserLastName"}}
		{{#ifContainsAnyRoles roles, ROLES}}
			<input
				.a("type", "text")
				.a("id", {{classApiMethodMethod}}, "_userLastName");
				if("Page".equals({{classApiMethodMethod}}) || "PATCH".equals({{classApiMethodMethod}})) {
					a("class", "setUserLastName classSiteUser inputSiteUser", pk, "UserLastName w3-input w3-border ");
					a("name", "setUserLastName");
				} else {
					a("class", "valueUserLastName w3-input w3-border classSiteUser inputSiteUser", pk, "UserLastName w3-input w3-border ");
					a("name", "userLastName");
				}
				if("Page".equals({{classApiMethodMethod}})) {
					a("onclick", "removeGlow($(this)); ");
					a("onchange", "patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:", pk, "' }], 'setUserLastName', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_userLastName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userLastName')); }); ");
				}
				a("value", strUserLastName())
			.fg();

		} else {
				<span.a("class", "varSiteUser", pk, "UserLastName ").f().sx(htmUserLastName()).g("span");
		{{/ifContainsAnyRoles}}
{{/partial}}

{{#partial "htmUserFullName"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SiteUserUserFullName">
					<div class="w3-card ">
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputUserFullName}}{{/block}}
							</div>
							{{#ifContainsAnyRoles roles, ROLES}}
								{{#ifeq "Page"classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-gray "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_userFullName')); $('#", {{classApiMethodMethod}}, "_userFullName').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SiteUserForm :input[name=pk]').val() }], 'setUserFullName', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_userFullName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userFullName')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/ifeq}}
							{{/ifContainsAnyRoles}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputUserFullName"}}
		{{#ifContainsAnyRoles roles, ROLES}}
			<input
				.a("type", "text")
				.a("id", {{classApiMethodMethod}}, "_userFullName");
				if("Page".equals({{classApiMethodMethod}}) || "PATCH".equals({{classApiMethodMethod}})) {
					a("class", "setUserFullName classSiteUser inputSiteUser", pk, "UserFullName w3-input w3-border ");
					a("name", "setUserFullName");
				} else {
					a("class", "valueUserFullName w3-input w3-border classSiteUser inputSiteUser", pk, "UserFullName w3-input w3-border ");
					a("name", "userFullName");
				}
				if("Page".equals({{classApiMethodMethod}})) {
					a("onclick", "removeGlow($(this)); ");
					a("onchange", "patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:", pk, "' }], 'setUserFullName', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_userFullName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_userFullName')); }); ");
				}
				a("value", strUserFullName())
			.fg();

		} else {
				<span.a("class", "varSiteUser", pk, "UserFullName ").f().sx(htmUserFullName()).g("span");
		{{/ifContainsAnyRoles}}
{{/partial}}

{{#partial "htmlScriptsSiteUserGenPage"}}
		<script src="staticBaseUrl, "/js/enUS/SiteUserPage.js"></script>
{{/partial}}

{{#partial "htmlScriptSiteUserGenPage"}}
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = ", Optional.ofNullable(siteRequest_.getRequestPk()).map(l -> l.toString()).orElse("null"), ";
				if(pk != null) {
				}
				websocketSiteUser(websocketSiteUserInner);
			});
{{/partial}}

{{#partial "htmlFormPageSiteUser"}}
		<div class="w3-cell-row ">
			o.htmPk("Page");
			o.htmCreated("Page");
			o.htmModified("Page");
			o.htmObjectId("Page");
		</div>
		<div class="w3-cell-row ">
			o.htmArchived("Page");
			o.htmDeleted("Page");
		</div>
{{/partial}}

{{#partial "htmlFormPOSTSiteUser"}}
		<div class="w3-cell-row ">
			o.htmPk("POST");
			o.htmCreated("POST");
			o.htmModified("POST");
			o.htmObjectId("POST");
		</div>
		<div class="w3-cell-row ">
			o.htmArchived("POST");
			o.htmDeleted("POST");
		</div>
{{/partial}}

{{#partial "htmlFormPUTImportSiteUser"}}
		{ e("div class=\"w3-cell-row \">")			<textarea
				 class=""PUTImport_list w3-input w3-border "
				 style=""height: 400px; "
				 placeholder=""{ \"list\": [ { \"pk\": ... , \"saves\": [ ... ] }, ... ] }"
				;
				f();
			g("textarea");
		} g("div");
{{/partial}}

{{#partial "htmlFormPUTMergeSiteUser"}}
		{ e("div class=\"w3-cell-row \">")			<textarea
				 class=""PUTMerge_list w3-input w3-border "
				 style=""height: 400px; "
				 placeholder=""{ \"list\": [ { \"pk\": ... , \"saves\": [ ... ] }, ... ] }"
				;
				f();
			g("textarea");
		} g("div");
{{/partial}}

{{#partial "htmlFormPUTCopySiteUser"}}
		<div class="w3-cell-row ">
			o.htmCreated("PUTCopy");
		</div>
		<div class="w3-cell-row ">
			o.htmArchived("PUTCopy");
			o.htmDeleted("PUTCopy");
		</div>
{{/partial}}

{{#partial "htmlFormPATCHSiteUser"}}
		<div class="w3-cell-row ">
			o.htmCreated("PATCH");
		</div>
		<div class="w3-cell-row ">
			o.htmArchived("PATCH");
			o.htmDeleted("PATCH");
		</div>
{{/partial}}

{{#partial "htmlFormSearchSiteUser"}}
		<div class="w3-cell-row ">
			o.htmPk("Search");
			o.htmCreated("Search");
			o.htmModified("Search");
			o.htmObjectId("Search");
		</div>
		<div class="w3-cell-row ">
			o.htmArchived("Search");
			o.htmDeleted("Search");
		</div>
		<div class="w3-cell-row ">
			o.htmInheritPk("Search");
			o.htmSessionId("Search");
			o.htmUserId("Search");
			o.htmUserKey("Search");
			o.htmObjectTitle("Search");
			o.htmUserName("Search");
			o.htmUserEmail("Search");
			o.htmUserFirstName("Search");
			o.htmUserLastName("Search");
			o.htmUserFullName("Search");
		</div>
{{/partial}}

{{#partial "htmlBodySiteUserGenPage"}}

		ServiceRequest serviceRequest = siteRequest_.getServiceRequest();
		JsonObject params = serviceRequest.getParams();
		if(listSiteUser_ == null || listSiteUser_.size() == 0) {

			{ e("h1>")				{ e("a").a("href", "/api/user").a("class", "w3-bar-item w3-btn w3-center w3-block w3-gray w3-hover-gray >")					if(contextIconCssClasses != null)
						<i class="contextIconCssClasses + " site-menu-icon "></i>
					e("span class=\" \"").f().sx("site users").g("span");
				} g("a");
			} g("h1");
			e("div class=\"w3-padding-16 w3-card-4 w3-light-grey \">")			{ e("h2>")				{ e("span").a("class", "w3-bar-item w3-padding w3-center w3-block w3-gray >")					if(contextIconCssClasses != null)
						<i class="contextIconCssClasses + " site-menu-icon "></i>
					e("span class=\" \"").f().sx("no site user found").g("span");
				} g("span");
			} g("h2");
		} else if(listSiteUser_ != null && listSiteUser_.size() == 1 && params.getJsonObject("query").getString("q").equals("*:*")) {
			SiteUser o = listSiteUser_.get(0);
			siteRequest_.setRequestPk(o.getPk());
			if(StringUtils.isNotEmpty(pageH1)) {
				{ e("h1>")					{ e("a").a("href", "/api/user").a("class", "w3-bar-item w3-btn w3-center w3-block w3-gray w3-hover-gray >")						if(contextIconCssClasses != null)
							<i class="contextIconCssClasses + " site-menu-icon "></i>
						e("span class=\" \"").f()pageH1.g("span");
					} g("a");
				} g("h1");
			}
			e("div class=\"w3-padding-16 w3-card-4 w3-light-grey \">")			if(StringUtils.isNotEmpty(pageH2)) {
				{ e("h2>")					{ e("span").a("class", "w3-bar-item w3-padding w3-center w3-block w3-gray >")						e("span class=\" \"").f()pageH2.g("span");
					} g("span");
				} g("h2");
			}
			if(StringUtils.isNotEmpty(pageH3)) {
				{ e("h3>")					{ e("span").a("class", "w3-bar-item w3-padding w3-center w3-block w3-gray >")						e("span class=\" \"").f()pageH3.g("span");
					} g("span");
				} g("h3");
			}
		} else {

			{ e("h1>")				{ e("a").a("href", "/api/user").a("class", "w3-bar-item w3-btn w3-center w3-block w3-gray w3-hover-gray >")					if(contextIconCssClasses != null)
						<i class="contextIconCssClasses + " site-menu-icon "></i>
					e("span class=\" \"").f()pageH1.g("span");
				} g("a");
			} g("h1");
			{ e("div class=\"\">")				{ e("div>")					JsonObject queryParams = Optional.ofNullable(serviceRequest).map(ServiceRequest::getParams).map(or -> or.getJsonObject("query")).orElse(new JsonObject());
					Long num = listSiteUser_.getQueryResponse().getResults().getNumFound();
					String q = "*:*";
					String query1 = "objectText";
					String query2 = "";
					String query = "*:*";
					for(String paramName : queryParams.fieldNames()) {
						String entityVar = null;
						String valueIndexed = null;
						Object paramObjectValues = queryParams.getValue(paramName);
						JsonArray paramObjects = paramObjectValues instanceof JsonArray ? (JsonArray)paramObjectValues : new JsonArray().add(paramObjectValues);

						try {
							for(Object paramObject : paramObjects) {
								switch(paramName) {
									case "q":
										q = (String)paramObject;
										entityVar = StringUtils.trim(StringUtils.substringBefore((String)paramObject, ":"));
										valueIndexed = URLDecoder.decode(StringUtils.trim(StringUtils.substringAfter((String)paramObject, ":")), "UTF-8");
										query1 = entityVar.equals("*") ? query1 : entityVar;
										query2 = valueIndexed;
										query = query1 + ":" + query2;
								}
							}
						} catch(Exception e) {
							ExceptionUtils.rethrow(e);
						}
					}

					Integer rows1 = Optional.ofNullable(listSiteUser_).map(l -> l.getRows()).orElse(10);
					Integer start1 = Optional.ofNullable(listSiteUser_).map(l -> l.getStart()).orElse(1);
					Integer start2 = start1 - rows1;
					Integer start3 = start1 + rows1;
					Integer rows2 = rows1 / 2;
					Integer rows3 = rows1 * 2;
					start2 = start2 < 0 ? 0 : start2;
					StringBuilder fqs = new StringBuilder();
					for(String fq : Optional.ofNullable(listSiteUser_).map(l -> l.getFilterQueries()).orElse(new String[0])) {
						if(!StringUtils.contains(fq, "(")) {
							String fq1 = StringUtils.substringBefore(fq, "_");
							String fq2 = StringUtils.substringAfter(fq, ":");
							if(!StringUtils.startsWithAny(fq, "classCanonicalNames_", "archived_", "deleted_", "sessionId", "userKeys"))
								fqs.append("&fq=").append(fq1).append(":").append(fq2);
						}
					}
					StringBuilder sorts = new StringBuilder();
					for(SortClause sort : Optional.ofNullable(listSiteUser_).map(l -> l.getSorts()).orElse(Arrays.asList())) {
						sorts.append("&sort=").append(StringUtils.substringBefore(sort.getItem(), "_")).append(" ").append(sort.getOrder().name());
					}

					if(start1 == 0) {
						e("i class=\"fas fa-arrow-square-left w3-opacity \"").f().g("i");
					} else {
						<a.a("href", "/api/user?q=", query, fqs, sorts, "&start=", start2, "&rows=", rows1)>;
							e("i class=\"fas fa-arrow-square-left \"").f().g("i");
						} g("a");
					}

					if(rows1 <= 1) {
						e("i class=\"fas fa-minus-square w3-opacity \"").f().g("i");
					} else {
						<a.a("href", "/api/user?q=", query, fqs, sorts, "&start=", start1, "&rows=", rows2)>;
							e("i class=\"fas fa-minus-square \"").f().g("i");
						} g("a");
					}

					<a.a("href", "/api/user?q=", query, fqs, sorts, "&start=", start1, "&rows=", rows3)>;
						e("i class=\"fas fa-plus-square \"").f().g("i");
					} g("a");

					if(start3 >= num) {
						e("i class=\"fas fa-arrow-square-right w3-opacity \"").f().g("i");
					} else {
						<a.a("href", "/api/user?q=", query, fqs, sorts, "&start=", start3, "&rows=", rows1)>;
							e("i class=\"fas fa-arrow-square-right \"").f().g("i");
						} g("a");
					}
						<span>(start1 + 1), " - ", (start1 + rows1), " of ", num</span>
				} g("div");
				table1SiteUserGenPage();
			} g("div");
		}

		if(listSiteUser_ != null && listSiteUser_.size() == 1 && params.getJsonObject("query").getString("q").equals("*:*")) {
			SiteUser o = listSiteUser_.first();

			{ e("div class=\"\">")
				if(o.getPk() != null) {
					{ e("form").a("action", "").a("id", "SiteUserForm style=\"display: inline-block; width: 100%; \" onsubmit=\"event.preventDefault(); return false; \">")						e("input")
						.a("name", "pk")
						.a("class", "valuePk")
						.a("type", "hidden")
						.a("value", o.getPk())
						.fg();
						e("input")
						.a("name", "focusId")
						.a("type", "hidden")
						.fg();
					} g("form");
					htmlFormPageSiteUser(o);
				}

			} g("div");

		}
		htmlBodyFormsSiteUserGenPage();
	}

{{#partial "table1SiteUserGenPage"}}
		{ e("table class=\"w3-table w3-bordered w3-striped w3-border w3-hoverable \">")			table2SiteUserGenPage();
		} g("table");
	}

{{#partial "table2SiteUserGenPage"}}
		thead1SiteUserGenPage();
		tbody1SiteUserGenPage();
		tfoot1SiteUserGenPage();
	}

{{#partial "thead1SiteUserGenPage"}}
		{ e("thead").a("class", "w3-gray w3-hover-gray >")			thead2SiteUserGenPage();
		} g("thead");
	}

{{#partial "thead2SiteUserGenPage"}}
			{ e("tr>")			if(getColumnCreated()) {
				<th>"created"</th>
			}
			if(getColumnObjectTitle()) {
				<th>""</th>
			}
			} g("tr");
	}

{{#partial "tbody1SiteUserGenPage"}}
		{ e("tbody>")			tbody2SiteUserGenPage();
		} g("tbody");
	}

{{#partial "tbody2SiteUserGenPage"}}
		Map<String, Map<String, List<String>>> highlighting = listSiteUser_.getQueryResponse().getHighlighting();
		for(int i = 0; i < listSiteUser_.size(); i++) {
			SiteUser o = listSiteUser_.getList().get(i);
			Map<String, List<String>> highlights = highlighting == null ? null : highlighting.get(o.getId());
			List<String> highlightList = highlights == null ? null : highlights.get(highlights.keySet().stream().findFirst().orElse(null));
			String uri = "/api/user/" + o.getPk();
			<tr>;
				if(getColumnCreated()) {
					<td>;
						<a href="{{uri}}")>
							<span>;
								sx(o.strCreated());
							} g("span");
						} g("a");
					} g("td");
				}
				if(getColumnObjectTitle()) {
					<td>;
						<a href="{{uri}}")>
							<i
.a("class", "far fa-user-cog ").f().g("i");
							<span>;
								sx(o.strObjectTitle());
							} g("span");
						} g("a");
					} g("td");
				}
			} g("tr");
		}
	}

{{#partial "tfoot1SiteUserGenPage"}}
		{ e("tfoot").a("class", "w3-gray w3-hover-gray >")			tfoot2SiteUserGenPage();
		} g("tfoot");
	}

{{#partial "tfoot2SiteUserGenPage"}}
		{ e("tr>")			SimpleOrderedMap facets = (SimpleOrderedMap)Optional.ofNullable(listSiteUser_.getQueryResponse()).map(QueryResponse::getResponse).map(r -> r.get("facets")).orElse(new SimpleOrderedMap());
			if(getColumnCreated()) {
				<td>;
				g("td");
			}
			if(getColumnObjectTitle()) {
				<td>;
				g("td");
			}
		} g("tr");
	}

	public Boolean getColumnCreated() {
		return true;
	}

	public Boolean getColumnObjectTitle() {
		return true;
	}

{{#partial "htmlBodyFormsSiteUserGenPage"}}
		if(
				CollectionUtils.containsAny(siteRequest_.getUserResourceRoles(), ROLES)
				|| CollectionUtils.containsAny(siteRequest_.getUserRealmRoles(), ROLES)
				) {

			if(listSiteUser_ != null && listSiteUser_.size() == 1) {
				{ e("button")
					.a("class", "w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-gray ")
						.a("id", "refreshThisSiteUserGenPage")
						 onclick=""patchSiteUserVals( [ {name: 'fq', value: 'pk:' + " + siteRequest_.getRequestPk() + " } ], {}, function() { addGlow($('#refreshThisSiteUserGenPage')); }, function() { addError($('#refreshThisSiteUserGenPage')); }); return false; ">						e("i class=\"fas fa-sync-alt \"").f().g("i");
					sx("refresh this site user");
				} g("button");
			}
		}
		if(
				siteRequest_.getUserResourceRoles().contains("SiteAdmin")
				|| siteRequest_.getUserRealmRoles().contains("SiteAdmin")
				) {

			{ e("button")
				.a("class", "w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-gray ")
				.a("onclick", "$('#patchSiteUserModal').show(); ")
				.f();
				e("i class=\"fas fa-edit \"").f().g("i");
				sx("Modify site users");
			} g("button");
			{ e("div").a("id", "patchSiteUserModal").a("class", "w3-modal w3-padding-32 >")				{ e("div class=\"w3-modal-content \">")					{ e("div class=\"w3-card-4 \">")						{ e("header").a("class", "w3-container w3-gray >")							e("span class=\"w3-button w3-display-topright \"").a("onclick", "$('#patchSiteUserModal').hide(); ").f().sx("×").g("span");
							e("h2 class=\"w3-padding \"").f().sx("Modify site users").g("h2");
						} g("header");
						{ e("div class=\"w3-container \"").a("id", "patchSiteUserFormValues").f();
							SiteUser o = new SiteUser();
							o.setSiteRequest_(siteRequest_);

							htmlFormPATCHSiteUser(o);
							e("button")
								.a("class", "w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-gray ")
								 onclick=""patchSiteUser(null, $('#patchSiteUserFormValues'), ", Optional.ofNullable(siteUser_).map(SiteUser::getPk).map(a -> a.toString()).orElse("null", ", function() {}, function() {}); ")
								.f().sx("Modify site users")
							.g("button");

						} g("div");
					} g("div");
				} g("div");
			} g("div");


			{ e("button")
				.a("class", "w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-gray ")
				.a("onclick", "$('#postSiteUserModal').show(); ")
				.f();
				e("i class=\"fas fa-file-plus \"").f().g("i");
				sx("Create a site user");
			} g("button");
			{ e("div").a("id", "postSiteUserModal").a("class", "w3-modal w3-padding-32 >")				{ e("div class=\"w3-modal-content \">")					{ e("div class=\"w3-card-4 \">")						{ e("header").a("class", "w3-container w3-gray >")							e("span class=\"w3-button w3-display-topright \"").a("onclick", "$('#postSiteUserModal').hide(); ").f().sx("×").g("span");
							e("h2 class=\"w3-padding \"").f().sx("Create a site user").g("h2");
						} g("header");
						{ e("div class=\"w3-container \"").a("id", "postSiteUserFormValues").f();
							SiteUser o = new SiteUser();
							o.setSiteRequest_(siteRequest_);

							// Form POST
							{ e("div").a("id", "postSiteUserForm>")								htmlFormPOSTSiteUser(o);
							} g("div");
							e("button")
								.a("class", "w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-gray ")
								 onclick=""postSiteUser($('#postSiteUserForm')); "
								.f().sx("Create a site user")
							.g("button");

						} g("div");
					} g("div");
				} g("div");
			} g("div");

		}
		htmlSuggestedSiteUserGenPage(this, null, listSiteUser_);
	

	/**
	**/
	public static void htmlSuggestedSiteUserGenPage(String id, SearchList<SiteUser> listSiteUser_) {
		SiteRequestEnUS siteRequest_ = p.getSiteRequest_();
		try {
			ServiceRequest serviceRequest = siteRequest_.getServiceRequest();
			JsonObject queryParams = Optional.ofNullable(serviceRequest).map(ServiceRequest::getParams).map(or -> or.getJsonObject("query")).orElse(new JsonObject());
			String q = "*:*";
			String query1 = "objectText";
			String query2 = "";
			for(String paramName : queryParams.fieldNames()) {
				String entityVar = null;
				String valueIndexed = null;
				Object paramObjectValues = queryParams.getValue(paramName);
				JsonArray paramObjects = paramObjectValues instanceof JsonArray ? (JsonArray)paramObjectValues : new JsonArray().add(paramObjectValues);

				try {
					for(Object paramObject : paramObjects) {
						switch(paramName) {
							case "q":
								q = (String)paramObject;
								entityVar = StringUtils.trim(StringUtils.substringBefore((String)paramObject, ":"));
								valueIndexed = URLDecoder.decode(StringUtils.trim(StringUtils.substringAfter((String)paramObject, ":")), "UTF-8");
								query1 = entityVar.equals("*") ? query1 : entityVar;
								query2 = valueIndexed.equals("*") ? "" : valueIndexed;
						}
					}
				} catch(Exception e) {
					ExceptionUtils.rethrow(e);
				}
			}

			Integer rows1 = Optional.ofNullable(listSiteUser_).map(l -> l.getRows()).orElse(10);
			Integer start1 = Optional.ofNullable(listSiteUser_).map(l -> l.getStart()).orElse(1);
			Integer start2 = start1 - rows1;
			Integer start3 = start1 + rows1;
			Integer rows2 = rows1 / 2;
			Integer rows3 = rows1 * 2;
			start2 = start2 < 0 ? 0 : start2;
			StringBuilder fqs = new StringBuilder();
			for(String fq : Optional.ofNullable(listSiteUser_).map(l -> l.getFilterQueries()).orElse(new String[0])) {
				if(!StringUtils.contains(fq, "(")) {
					String fq1 = StringUtils.substringBefore(fq, "_");
					String fq2 = StringUtils.substringAfter(fq, ":");
					if(!StringUtils.startsWithAny(fq, "classCanonicalNames_", "archived_", "deleted_", "sessionId", "userKeys"))
						fqs.append("&fq=").append(fq1).append(":").append(fq2);
				}
			}
			StringBuilder sorts = new StringBuilder();
			for(SortClause sort : Optional.ofNullable(listSiteUser_).map(l -> l.getSorts()).orElse(Arrays.asList())) {
				sorts.append("&sort=").append(StringUtils.substringBefore(sort.getItem(), "_")).append(" ").append(sort.getOrder().name());
			}

			if(
					CollectionUtils.containsAny(siteRequest_.getUserResourceRoles(), SiteUserGenPage.ROLES)
					|| CollectionUtils.containsAny(siteRequest_.getUserRealmRoles(), SiteUserGenPage.ROLES)
					) {
					{ p.e("div class=\"\">")						{ p.e("button").a("id", "refreshAllSiteUserGenPage", id).a("class", "w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-gray ") onclick=""patchSiteUserVals([], {}, function() { addGlow($('#refreshAllSiteUserGenPage", id, "')); }, function() { addError($('#refreshAllSiteUserGenPage", id, "')); }); ".f();
							p.e("i class=\"fas fa-sync-alt \"").f().g("i");
							p.sx("refresh all the site users");
						} p.g("button");
					} p.g("div");
			}
			{ p.e("div class=\"w3-cell-row \">")				{ p.e("div class=\"w3-cell \">")					{ p.e("span>")						p.sx("search site users: ");
					} p.g("span");
				} p.g("div");
			} p.g("div");
			{ p.e("div class=\"w3-bar \">")
				p.e("input")
					.a("type", "text")
					.a("class", "suggestSiteUser w3-input w3-border w3-bar-item ")
					.a("name", "suggestSiteUser")
					.a("id", "suggestSiteUser", id)
					.a("autocomplete", "off")
					 oninput=""suggestSiteUserObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'pk,pageUrlPk,objectTitle' } ], $('#suggestListSiteUser", id, "'), ", p.getSiteRequest_().getRequestPk(), "; ")
					 onkeyup=""if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/api/user?q=", query1, ":' + encodeURIComponent(this.value) + '", fqs, sorts, "&start=", start2, "&rows=", rows1, "'; }"; 
				if(listSiteUser_ != null)
					p.a("value", query2);
				p.fg();
				{ p.e("button")
					.a("class", "w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-gray ")
					 onclick=""window.location.href = '/api/user?q=", query1, ":' + encodeURIComponent(this.previousElementSibling.value) + '", fqs, sorts, "&start=", start2, "&rows=", rows1, "'; " 
					.f();
					p.e("i class=\"fas fa-search \"").f().g("i");
				} p.g("button");

			} p.g("div");
			{ p.e("div class=\"w3-cell-row \">")				{ p.e("div class=\"w3-cell w3-left-align w3-cell-top \">")					{ p.e("ul class=\"w3-ul w3-hoverable \"").a("id", "suggestListSiteUser", id)>					} p.g("ul");
				} p.g("div");
			} p.g("div");
			{ p.e("div class=\"\">")				{ p.e("a").a("href", "/api/user").a("class", ">")					p.e("i").a("class", "far fa-user-cog ").f().g("i");
					p.sx("see all the site users");
				} p.g("a");
			} p.g("div");
		} catch(Exception e) {
			ExceptionUtils.rethrow(e);
		}
	}

