
{{#partial "htmUserKeys"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			{{#eq 'Page' classApiMethodMethod}}
				<div class="w3-padding ">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label>users</label>
						</div>
						<div class="w3-cell-row  ">
							<div class="w3-cell ">
								<div class="w3-rest ">
									<span class="{{varSitePet}}{{pk}}UserKeys ">{{strUserKeys}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/eq}}
		</div>
{{/partial}}

{{#partial "inputUserKeys"}}
{{/partial}}

{{#partial "htmEnrollmentKeys"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetEnrollmentKeys">
					<div class="w3-card ">
						<div class="w3-cell-row ">
							<a href="/enrollment?fq=petKeys:", pk" class="w3-cell w3-btn w3-center h4 w3-block h4 w3-red w3-hover-red ">
								<i class="fad fa-clipboard-list "></i>
								enrollments
							</a>
						</div>
						<div class="w3-cell-row ">
							<h5 class="w3-cell ">
								relate  to this pet
							</h5>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								<div class="w3-cell-row ">

								{{#block "inputEnrollmentKeys"}}{{/block}}
								</div>
							</div>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell w3-left-align w3-cell-top ">
								<ul class="w3-ul w3-hoverable " id="listSitePetEnrollmentKeys_{{classApiMethodMethod}}">
								</ul>
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-cell-row ">
											<button

												 class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-red "
												 id=", {{classApiMethodMethod}}_enrollmentKeys_add"
												 onclick="$(this).addClass('w3-disabled'); this.disabled = true; this.innerHTML = 'Sending…'; postSiteEnrollmentVals({ petKeys: [ \"", pk, "\" ] }, function() {}, function() { addError($('#", {{classApiMethodMethod}}, "enrollmentKeys')); });"
												>add an enrollment
											</button>
										</div>
									{{/eq}}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputEnrollmentKeys"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			<i class="far fa-search w3-xxlarge w3-cell w3-cell-middle "></i>
			{{#eq 'PUTCopy' classApiMethodMethod}}
				<div>
					<input 
						type="checkbox"
						id="{{classApiMethodMethod}}_enrollmentKeys_clear"
						class="enrollmentKeys_clear "
						>
					<label for="{{classApiMethodMethod}}_enrollmentKeys_clear>clear</label>
				</div>
			{{/eq}}
			<input
					type="text"
					placeholderenrollments
				class="valueObjectSuggest suggestEnrollmentKeys w3-input w3-border w3-cell w3-cell-middle "
				name="setEnrollmentKeys"
				id="{{classApiMethodMethod}}_enrollmentKeys"
				autocomplete="off"
				oninput="suggestSitePetEnrollmentKeys($(this).val() ? [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'pk,pageUrlPk,objectTitle' } ] : [", pk == null ? "" : "{'name':'fq','value':'petKeys:" + pk + "'}", "], $('#listSitePetEnrollmentKeys_", {{classApiMethodMethod}}, "'), ", pk, "
				/>

		{{else}}

		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmPetName"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetPetName">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label for="{{classApiMethodMethod}}_petName">name of pet:</label>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputPetName"}}{{/block}}
							</div>
							{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
								{{#eq 'Page' classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_petName')); $('#", {{classApiMethodMethod}}, "_petName').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SitePetForm :input[name=pk]').val() }], 'setPetName', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_petName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petName')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/eq}}
							{{/ifContainsKeysAnyRolesOrSessionId}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputPetName"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			<input
				 type="text"
				 placeholder="name of pet:"
				id="{{classApiMethodMethod}}_petName"
				
{{#eq "Page" classApiMethodMethod}}
					class="setPetName classSitePet inputSitePet{{pk}}PetName w3-input w3-border 
					name="setPetName"
				
{{else}}
				
{{#eq "PATCH" classApiMethodMethod}}
					class="setPetName classSitePet inputSitePet{{pk}}PetName w3-input w3-border 
					name="setPetName"
				
{{else}}
					class="valuePetName w3-input w3-border classSitePet inputSitePet", pk, "PetName w3-input w3-border "
					name="petName"
				
{{/eq}}
				
{{/eq}}
				
{{#eq "Page" classApiMethodMethod}}
					onclick="removeGlow($(this)); "
					onchange="patchSitePetVal([{ name: 'fq', value: 'pk:", pk, "' }], 'setPetName', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_petName')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petName')); }); "
				
{{/eq}}
				value="{{PetName}}">
			/>

		{{else}}

			<span class="varSitePet{{pk}}PetName >{{htmPetName}}</span>
		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmPetFoodAmount"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetPetFoodAmount">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label for="{{classApiMethodMethod}}_petFoodAmount">How much does your pet eat?</label>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputPetFoodAmount"}}{{/block}}
							</div>
							{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
								{{#eq 'Page' classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_petFoodAmount')); $('#", {{classApiMethodMethod}}, "_petFoodAmount').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SitePetForm :input[name=pk]').val() }], 'setPetFoodAmount', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_petFoodAmount')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petFoodAmount')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/eq}}
							{{/ifContainsKeysAnyRolesOrSessionId}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputPetFoodAmount"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			<textarea
				 placeholder="How much does your pet eat?"
				id="{{classApiMethodMethod}}_petFoodAmount"
				
{{#eq "Page" classApiMethodMethod}}
					class="setPetFoodAmount classSitePet inputSitePet{{pk}}PetFoodAmount w3-input w3-border 
					name="setPetFoodAmount"
				
{{else}}
				
{{#eq "PATCH" classApiMethodMethod}}
					class="setPetFoodAmount classSitePet inputSitePet{{pk}}PetFoodAmount w3-input w3-border 
					name="setPetFoodAmount"
				
{{else}}
					class="valuePetFoodAmount w3-input w3-border classSitePet inputSitePet", pk, "PetFoodAmount w3-input w3-border "
					name="petFoodAmount"
				
{{/eq}}
				
{{/eq}}
				
{{#eq "Page" classApiMethodMethod}}
					onclick="removeGlow($(this)); "
					onchange="patchSitePetVal([{ name: 'fq', value: 'pk:", pk, "' }], 'setPetFoodAmount', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_petFoodAmount')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petFoodAmount')); }); "
				
{{/eq}}
			>{{petFoodAmount}}
</textarea>
		{{else}}

			<span class="varSitePet{{pk}}PetFoodAmount >{{htmPetFoodAmount}}</span>
		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmPetFood"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetPetFood">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label for="{{classApiMethodMethod}}_petFood">What does your pet eat?</label>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputPetFood"}}{{/block}}
							</div>
							{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
								{{#eq 'Page' classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_petFood')); $('#", {{classApiMethodMethod}}, "_petFood').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SitePetForm :input[name=pk]').val() }], 'setPetFood', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_petFood')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petFood')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/eq}}
							{{/ifContainsKeysAnyRolesOrSessionId}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputPetFood"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			<textarea
				 placeholder="What does your pet eat?"
				id="{{classApiMethodMethod}}_petFood"
				
{{#eq "Page" classApiMethodMethod}}
					class="setPetFood classSitePet inputSitePet{{pk}}PetFood w3-input w3-border 
					name="setPetFood"
				
{{else}}
				
{{#eq "PATCH" classApiMethodMethod}}
					class="setPetFood classSitePet inputSitePet{{pk}}PetFood w3-input w3-border 
					name="setPetFood"
				
{{else}}
					class="valuePetFood w3-input w3-border classSitePet inputSitePet", pk, "PetFood w3-input w3-border "
					name="petFood"
				
{{/eq}}
				
{{/eq}}
				
{{#eq "Page" classApiMethodMethod}}
					onclick="removeGlow($(this)); "
					onchange="patchSitePetVal([{ name: 'fq', value: 'pk:", pk, "' }], 'setPetFood', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_petFood')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petFood')); }); "
				
{{/eq}}
			>{{petFood}}
</textarea>
		{{else}}

			<span class="varSitePet{{pk}}PetFood >{{htmPetFood}}</span>
		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmPetSick"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetPetSick">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label for="{{classApiMethodMethod}}_petSick">Is your pet sick, or need medication?</label>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputPetSick"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputPetSick"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			{{#eq 'Page' classApiMethodMethod}}
				<input
					.a("type", "checkbox")
					.a("id", {{classApiMethodMethod}}, "_petSick")
					.a("value", "true");
			} else {
				<select
					.a("id", {{classApiMethodMethod}}, "_petSick");
			{{/eq}}
			{{#eq 'Page' classApiMethodMethod}}
				a("class", "setPetSick classSitePet inputSitePet", pk, "PetSick w3-input w3-border ");
				a("name", "setPetSick");
			{{else}}
			{{#eq 'Page' classApiMethodMethod}}
				a("class", "setPetSick classSitePet inputSitePet", pk, "PetSick w3-input w3-border ");
				a("name", "setPetSick");
			{{else}}
				a("class", "valuePetSick classSitePet inputSitePet", pk, "PetSick w3-input w3-border ");
				a("name", "petSick");
			{{/eq}}
			{{/eq}}
			{{#eq 'Page' classApiMethodMethod}}
				a("onchange", "patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:", pk, "' }], 'setPetSick', $(this).prop('checked'), function() { addGlow($('#", {{classApiMethodMethod}}, "_petSick')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petSick')); }); ");
			{{/eq}}
			{{#eq 'Page' classApiMethodMethod}}
				{{#if petSick}}
					checked"checked"
				>
			{{else}}
				>
				<option value="" selected="selected"></option>
				<option value="true">true</option>
				<option value="false">false</option>
				</select>
			{{/if}}
			{{/eq}}

		{{else}}

			<span class="varSitePet{{pk}}PetSick >{{htmPetSick}}</span>
		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmPetMedNote"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetPetMedNote">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label for="{{classApiMethodMethod}}_petMedNote">Additional notes for medication:</label>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputPetMedNote"}}{{/block}}
							</div>
							{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
								{{#eq 'Page' classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_petMedNote')); $('#", {{classApiMethodMethod}}, "_petMedNote').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SitePetForm :input[name=pk]').val() }], 'setPetMedNote', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_petMedNote')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petMedNote')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/eq}}
							{{/ifContainsKeysAnyRolesOrSessionId}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputPetMedNote"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			<textarea
				 placeholder="Additional notes for medication:"
				id="{{classApiMethodMethod}}_petMedNote"
				
{{#eq "Page" classApiMethodMethod}}
					class="setPetMedNote classSitePet inputSitePet{{pk}}PetMedNote w3-input w3-border 
					name="setPetMedNote"
				
{{else}}
				
{{#eq "PATCH" classApiMethodMethod}}
					class="setPetMedNote classSitePet inputSitePet{{pk}}PetMedNote w3-input w3-border 
					name="setPetMedNote"
				
{{else}}
					class="valuePetMedNote w3-input w3-border classSitePet inputSitePet", pk, "PetMedNote w3-input w3-border "
					name="petMedNote"
				
{{/eq}}
				
{{/eq}}
				
{{#eq "Page" classApiMethodMethod}}
					onclick="removeGlow($(this)); "
					onchange="patchSitePetVal([{ name: 'fq', value: 'pk:", pk, "' }], 'setPetMedNote', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_petMedNote')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petMedNote')); }); "
				
{{/eq}}
			>{{petMedNote}}
</textarea>
		{{else}}

			<span class="varSitePet{{pk}}PetMedNote >{{htmPetMedNote}}</span>
		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmPetTrouble"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetPetTrouble">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label for="{{classApiMethodMethod}}_petTrouble">What would get your pet in trouble?</label>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputPetTrouble"}}{{/block}}
							</div>
							{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
								{{#eq 'Page' classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_petTrouble')); $('#", {{classApiMethodMethod}}, "_petTrouble').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SitePetForm :input[name=pk]').val() }], 'setPetTrouble', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_petTrouble')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petTrouble')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/eq}}
							{{/ifContainsKeysAnyRolesOrSessionId}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputPetTrouble"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			<textarea
				 placeholder="What would get your pet in trouble?"
				id="{{classApiMethodMethod}}_petTrouble"
				
{{#eq "Page" classApiMethodMethod}}
					class="setPetTrouble classSitePet inputSitePet{{pk}}PetTrouble w3-input w3-border 
					name="setPetTrouble"
				
{{else}}
				
{{#eq "PATCH" classApiMethodMethod}}
					class="setPetTrouble classSitePet inputSitePet{{pk}}PetTrouble w3-input w3-border 
					name="setPetTrouble"
				
{{else}}
					class="valuePetTrouble w3-input w3-border classSitePet inputSitePet", pk, "PetTrouble w3-input w3-border "
					name="petTrouble"
				
{{/eq}}
				
{{/eq}}
				
{{#eq "Page" classApiMethodMethod}}
					onclick="removeGlow($(this)); "
					onchange="patchSitePetVal([{ name: 'fq', value: 'pk:", pk, "' }], 'setPetTrouble', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_petTrouble')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petTrouble')); }); "
				
{{/eq}}
			>{{petTrouble}}
</textarea>
		{{else}}

			<span class="varSitePet{{pk}}PetTrouble >{{htmPetTrouble}}</span>
		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmSendpdates"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetSendpdates">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label for="{{classApiMethodMethod}}_sendpdates">Do you want updates, if you do how many?</label>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputSendpdates"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputSendpdates"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			{{#eq 'Page' classApiMethodMethod}}
				<input
					.a("type", "checkbox")
					.a("id", {{classApiMethodMethod}}, "_sendpdates")
					.a("value", "true");
			} else {
				<select
					.a("id", {{classApiMethodMethod}}, "_sendpdates");
			{{/eq}}
			{{#eq 'Page' classApiMethodMethod}}
				a("class", "setSendpdates classSitePet inputSitePet", pk, "Sendpdates w3-input w3-border ");
				a("name", "setSendpdates");
			{{else}}
			{{#eq 'Page' classApiMethodMethod}}
				a("class", "setSendpdates classSitePet inputSitePet", pk, "Sendpdates w3-input w3-border ");
				a("name", "setSendpdates");
			{{else}}
				a("class", "valueSendpdates classSitePet inputSitePet", pk, "Sendpdates w3-input w3-border ");
				a("name", "sendpdates");
			{{/eq}}
			{{/eq}}
			{{#eq 'Page' classApiMethodMethod}}
				a("onchange", "patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:", pk, "' }], 'setSendpdates', $(this).prop('checked'), function() { addGlow($('#", {{classApiMethodMethod}}, "_sendpdates')); }, function() { addError($('#", {{classApiMethodMethod}}, "_sendpdates')); }); ");
			{{/eq}}
			{{#eq 'Page' classApiMethodMethod}}
				{{#if sendpdates}}
					checked"checked"
				>
			{{else}}
				>
				<option value="" selected="selected"></option>
				<option value="true">true</option>
				<option value="false">false</option>
				</select>
			{{/if}}
			{{/eq}}

		{{else}}

			<span class="varSitePet{{pk}}Sendpdates >{{htmSendpdates}}</span>
		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmPetAmount"}}
		<div class="w3-cell w3-cell-top w3-center w3-mobile ">
			<div class="w3-padding ">
				<div id="suggest{{classApiMethodMethod}}SitePetPetAmount">
					<div class="w3-card ">
						<div class="w3-cell-row w3-pale-green">
							<label for="{{classApiMethodMethod}}_petAmount">How many updates? (If any.)</label>
						</div>
						<div class="w3-cell-row w3-padding ">
							<div class="w3-cell ">
								{{#block "inputPetAmount"}}{{/block}}
							</div>
							{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
								{{#eq 'Page' classApiMethodMethod}}
									<div class="w3-cell w3-left-align w3-cell-top ">
										<button
												tabindex="-1"
												class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-pale-green "
												onclick="removeGlow($('#", {{classApiMethodMethod}}, "_petAmount')); $('#", {{classApiMethodMethod}}, "_petAmount').val(null); patch", getClass().getSimpleName(), "Val([{ name: 'fq', value: 'pk:' + $('#SitePetForm :input[name=pk]').val() }], 'setPetAmount', null, function() { addGlow($('#", {{classApiMethodMethod}}, "_petAmount')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petAmount')); }); "
												>
											<i class="far fa-eraser "></i>
										</button>
									</div>
								{{/eq}}
							{{/ifContainsKeysAnyRolesOrSessionId}}
						</div>
					</div>
				</div>
			</div>
		</div>
{{/partial}}

{{#partial "inputPetAmount"}}
		{{#ifContainsKeysAnyRolesOrSessionId userKeys roles ROLES sessionId}}
			<textarea
				 placeholder="How many updates? (If any.)"
				id="{{classApiMethodMethod}}_petAmount"
				
{{#eq "Page" classApiMethodMethod}}
					class="setPetAmount classSitePet inputSitePet{{pk}}PetAmount w3-input w3-border 
					name="setPetAmount"
				
{{else}}
				
{{#eq "PATCH" classApiMethodMethod}}
					class="setPetAmount classSitePet inputSitePet{{pk}}PetAmount w3-input w3-border 
					name="setPetAmount"
				
{{else}}
					class="valuePetAmount w3-input w3-border classSitePet inputSitePet", pk, "PetAmount w3-input w3-border "
					name="petAmount"
				
{{/eq}}
				
{{/eq}}
				
{{#eq "Page" classApiMethodMethod}}
					onclick="removeGlow($(this)); "
					onchange="patchSitePetVal([{ name: 'fq', value: 'pk:", pk, "' }], 'setPetAmount', $(this).val(), function() { addGlow($('#", {{classApiMethodMethod}}, "_petAmount')); }, function() { addError($('#", {{classApiMethodMethod}}, "_petAmount')); }); "
				
{{/eq}}
			>{{petAmount}}
</textarea>
		{{else}}

			<span class="varSitePet{{pk}}PetAmount >{{htmPetAmount}}</span>
		{{/ifContainsKeysAnyRolesOrSessionId}}
{{/partial}}

{{#partial "htmlScriptsSitePetGenPage"}}
		<script src="staticBaseUrl, "/js/enUS/SitePetPage.js"></script>
		<script src="staticBaseUrl, "/js/enUS/EnrollmentPage.js"></script>
{{/partial}}

{{#partial "htmlScriptSitePetGenPage"}}
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = ", Optional.ofNullable(siteRequest_.getRequestPk()).map(l -> l.toString()).orElse("null"), ";
				if(pk != null) {
		if(
				CollectionUtils.containsAny(siteRequest_.getUserResourceRoles(), ROLES)
				|| CollectionUtils.containsAny(siteRequest_.getUserRealmRoles(), ROLES)
				) {
			tl(2, "suggestSitePetEnrollmentKeys([{'name':'fq','value':'petKeys:' + pk}], $('#listSitePetEnrollmentKeys_Page'), pk, true); ");
		} else {
			tl(2, "suggestSitePetEnrollmentKeys([{'name':'fq','value':'petKeys:' + pk}], $('#listSitePetEnrollmentKeys_Page'), pk, false); ");
		}
				}
				websocketSitePet(websocketSitePetInner);
			});
{{/partial}}

{{#partial "htmlFormPageSitePet"}}
		<div class="w3-cell-row ">
			{{> htmPk classApiMethodMethod="Page"}}
			{{> htmCreated classApiMethodMethod="Page"}}
			{{> htmModified classApiMethodMethod="Page"}}
			{{> htmObjectId classApiMethodMethod="Page"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmArchived classApiMethodMethod="Page"}}
			{{> htmDeleted classApiMethodMethod="Page"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetName classApiMethodMethod="Page"}}
			{{> htmPetFoodAmount classApiMethodMethod="Page"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmEnrollmentKeys classApiMethodMethod="Page"}}
			{{> htmPetFood classApiMethodMethod="Page"}}
			{{> htmPetSick classApiMethodMethod="Page"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetMedNote classApiMethodMethod="Page"}}
			{{> htmPetTrouble classApiMethodMethod="Page"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmSendpdates classApiMethodMethod="Page"}}
			{{> htmPetAmount classApiMethodMethod="Page"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmUserKeys classApiMethodMethod="Page"}}
		</div>
{{/partial}}

{{#partial "htmlFormPOSTSitePet"}}
		<div class="w3-cell-row ">
			{{> htmPk classApiMethodMethod="POST"}}
			{{> htmCreated classApiMethodMethod="POST"}}
			{{> htmModified classApiMethodMethod="POST"}}
			{{> htmObjectId classApiMethodMethod="POST"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmArchived classApiMethodMethod="POST"}}
			{{> htmDeleted classApiMethodMethod="POST"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetName classApiMethodMethod="POST"}}
			{{> htmPetFoodAmount classApiMethodMethod="POST"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmEnrollmentKeys classApiMethodMethod="POST"}}
			{{> htmPetFood classApiMethodMethod="POST"}}
			{{> htmPetSick classApiMethodMethod="POST"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetMedNote classApiMethodMethod="POST"}}
			{{> htmPetTrouble classApiMethodMethod="POST"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmSendpdates classApiMethodMethod="POST"}}
			{{> htmPetAmount classApiMethodMethod="POST"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmUserKeys classApiMethodMethod="POST"}}
		</div>
{{/partial}}

{{#partial "htmlFormPUTImportSitePet"}}
		<div class="w3-cell-row ">
			<textarea
				class="PUTImport_list w3-input w3-border "
				style="height: 400px; "
				placeholder="{ 'list': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
				></textarea>
		</div>
{{/partial}}

{{#partial "htmlFormPUTMergeSitePet"}}
		<div class="w3-cell-row ">
			<textarea
				class="PUTPUTMerge_list w3-input w3-border "
				style="height: 400px; "
				placeholder="{ 'list': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
				></textarea>
		</div>
{{/partial}}

{{#partial "htmlFormPUTCopySitePet"}}
		<div class="w3-cell-row ">
			{{> htmCreated classApiMethodMethod="PUTCopy"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmArchived classApiMethodMethod="PUTCopy"}}
			{{> htmDeleted classApiMethodMethod="PUTCopy"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetName classApiMethodMethod="PUTCopy"}}
			{{> htmPetFoodAmount classApiMethodMethod="PUTCopy"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmEnrollmentKeys classApiMethodMethod="PUTCopy"}}
			{{> htmPetFood classApiMethodMethod="PUTCopy"}}
			{{> htmPetSick classApiMethodMethod="PUTCopy"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetMedNote classApiMethodMethod="PUTCopy"}}
			{{> htmPetTrouble classApiMethodMethod="PUTCopy"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmSendpdates classApiMethodMethod="PUTCopy"}}
			{{> htmPetAmount classApiMethodMethod="PUTCopy"}}
		</div>
{{/partial}}

{{#partial "htmlFormPATCHSitePet"}}
		<div class="w3-cell-row ">
			{{> htmCreated classApiMethodMethod="PATCH"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmArchived classApiMethodMethod="PATCH"}}
			{{> htmDeleted classApiMethodMethod="PATCH"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetName classApiMethodMethod="PATCH"}}
			{{> htmPetFoodAmount classApiMethodMethod="PATCH"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmEnrollmentKeys classApiMethodMethod="PATCH"}}
			{{> htmPetFood classApiMethodMethod="PATCH"}}
			{{> htmPetSick classApiMethodMethod="PATCH"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetMedNote classApiMethodMethod="PATCH"}}
			{{> htmPetTrouble classApiMethodMethod="PATCH"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmSendpdates classApiMethodMethod="PATCH"}}
			{{> htmPetAmount classApiMethodMethod="PATCH"}}
		</div>
{{/partial}}

{{#partial "htmlFormSearchSitePet"}}
		<div class="w3-cell-row ">
			{{> htmPk classApiMethodMethod="Search"}}
			{{> htmCreated classApiMethodMethod="Search"}}
			{{> htmModified classApiMethodMethod="Search"}}
			{{> htmObjectId classApiMethodMethod="Search"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmArchived classApiMethodMethod="Search"}}
			{{> htmDeleted classApiMethodMethod="Search"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetName classApiMethodMethod="Search"}}
			{{> htmPetFoodAmount classApiMethodMethod="Search"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmEnrollmentKeys classApiMethodMethod="Search"}}
			{{> htmPetFood classApiMethodMethod="Search"}}
			{{> htmPetSick classApiMethodMethod="Search"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmPetMedNote classApiMethodMethod="Search"}}
			{{> htmPetTrouble classApiMethodMethod="Search"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmSendpdates classApiMethodMethod="Search"}}
			{{> htmPetAmount classApiMethodMethod="Search"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmUserKeys classApiMethodMethod="Search"}}
		</div>
		<div class="w3-cell-row ">
			{{> htmInheritPk classApiMethodMethod="Search"}}
			{{> htmSessionId classApiMethodMethod="Search"}}
			{{> htmUserId classApiMethodMethod="Search"}}
			{{> htmUserKey classApiMethodMethod="Search"}}
			{{> htmObjectTitle classApiMethodMethod="Search"}}
		</div>
{{/partial}}

{{#partial "htmlUrlSitePet"}}
/api/pet?q={{query.q}}&rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/eq}}&start={{#if start}}{{start}}{{else}}{{pagination.start}}{{/eq}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/partial}}

{{#partial "htmlBodySitePetGenPage"}}

		{{#if listSitePet_}}
			{{#eq listSitePet_.length 1}}
				{{#eq params.query.q "*:*"}}
					{{#with listSitePet_[0]}}
					{{#if pageH1}}
						<h1>
							<a href="{{> htmlUrlSitePet}}" class="w3-bar-item w3-btn w3-center w3-block w3-pale-green w3-hover-pale-green">
								{{#if contextIconCssClasses}}
									<i class="contextIconCssClasses site-menu-icon "></i>
								{{/if}}
								<span class="">{{pageH1}}</span>
							</a>
						</h1>
					{{/if}}
					<div class="w3-padding-16 w3-card-4 w3-light-grey ">
					{{#if pageH2}}
						<h2>
							<span class"w3-bar-item w3-padding w3-center w3-block w3-pale-green">
								<span class="">{{pageH2}}</span>
							</span>
						</h2>
					{{/if}}
					{{#if pageH3}}
						<h3>
							<span class="w3-bar-item w3-padding w3-center w3-block w3-pale-green">
								<span class="">{{pageH3}}</span>
							</span>
						</h3>
					{{/if}}
				{{else}}

					<h1>
						<a href="{{> htmlUrlSitePet}}" class="w3-bar-item w3-btn w3-center w3-block w3-pale-green w3-hover-pale-green">
							{{#if contextIconCssClasses}}
								<i class="contextIconCssClasses + " site-menu-icon "></i>
							{{/if}}
							<span class="">{{pageH1}}</span>
						</a>
					</h1>
					<div class="">
						<div>

							{{#if pagination.pagePrevious}}
								<a href="{{> htmlUrlSitePet fq=start}}">
									<i class="fas fa-arrow-square-left "></i>
								</a>
								{{else}}
								<i class="fas fa-arrow-square-left w3-opacity "></i>
							{{/if}}

							if(rows1 <= 1) {
								<i class="fas fa-minus-square w3-opacity "></i>
							{{else}}
								<a.a("href", "/api/pet?q=", query, fqs, sorts, "&start=", start1, "&rows=", rows2)>;
									<i class="fas fa-minus-square "></i>
								</a>
							{{/if}}

							<a.a("href", "/api/pet?q=", query, fqs, sorts, "&start=", start1, "&rows=", rows3)>;
								<i class="fas fa-plus-square "></i>
							</a>

							{{#gte start3 num}}
								<i class="fas fa-arrow-square-right w3-opacity "></i>
							{{else}}
								<a.a("href", "/api/pet?q=", query, fqs, sorts, "&start=", start3, "&rows=", rows1)>;
									<i class="fas fa-arrow-square-right "></i>
								</a>
							{{/gte}}
							<span>(start1 + 1), " - ", (start1 + rows1), " of ", num</span>
						</div>
						{{#block "table1SitePetGenPage"}}
					</div>
				{{/eq}}
			{{else}}
				<h1>
					<a href="{{> htmlUrlSitePet}}" class="w3-bar-item w3-btn w3-center w3-block w3-pale-green w3-hover-pale-green">
						{{#if contextIconCssClasses}}
							<i class="contextIconCssClasses + " site-menu-icon "></i>
						{{/if}}
						<span class="">{{pageH1}}</span>
					</a>
				</h1>
				<div class="">
					<div>

						{{#if pagination.pagePrevious}}
							<a href="{{> htmlUrlSitePet fq=start}}">
								<i class="fas fa-arrow-square-left "></i>
							</a>
							{{else}}
							<i class="fas fa-arrow-square-left w3-opacity "></i>
						{{/if}}

						if(rows1 <= 1) {
							<i class="fas fa-minus-square w3-opacity "></i>
						{{else}}
							<a.a("href", "/api/pet?q=", query, fqs, sorts, "&start=", start1, "&rows=", rows2)>;
								<i class="fas fa-minus-square "></i>
							</a>
						{{/if}}

						<a.a("href", "/api/pet?q=", query, fqs, sorts, "&start=", start1, "&rows=", rows3)>;
							<i class="fas fa-plus-square "></i>
						</a>

						{{#gte start3 num}}
							<i class="fas fa-arrow-square-right w3-opacity "></i>
						{{else}}
							<a.a("href", "/api/pet?q=", query, fqs, sorts, "&start=", start3, "&rows=", rows1)>;
								<i class="fas fa-arrow-square-right "></i>
							</a>
						{{/gte}}
						<span>(start1 + 1), " - ", (start1 + rows1), " of ", num</span>
					</div>
					{{#block "table1SitePetGenPage"}}
				</div>
			{{/eq}}
		{{else}}
			<h1>
				<a href="{{> htmlUrlSitePet}}" class="w3-bar-item w3-btn w3-center w3-block w3-pale-green w3-hover-pale-green">
					{{#if contextIconCssClasses}}
						<i class="contextIconCssClasses site-menu-icon "></i>
					{{/if}}
					<span class="">pets</span>
				</a>
			<h1>
			<div class="w3-padding-16 w3-card-4 w3-light-grey ">
			<h2>
				<span class="w3-bar-item w3-padding w3-center w3-block w3-pale-green">
					{{#if contextIconCssClasses}}
						<i class="contextIconCssClasses + " site-menu-icon "></i>
					{{/if}}
					<span class="">no pet found</span>
				</span>
			</h2>
		{{/if}}

		{{# if listSitePet_ != null && listSitePet_.size() == 1 && params.getJsonObject("query").getString("q").equals("*:*")) {
			SitePet o = listSitePet_.first();

			div class="">
				if(o.getPk() != null) {
					form action " idSitePetForm style="display: inline-block; width: 100%; " onsubmit="event.preventDefault(); return false; ">						<input
						.a("name", "pk")
						.a("class", "valuePk")
						.a("type", "hidden")
						.a("value", o.getPk())
						.fg();
						<input
						.a("name", "focusId")
						.a("type", "hidden")
						.fg();
					} g("form");
					htmlFormPageSitePet(o);
				}

			} g("div");

		}
		htmlBodyFormsSitePetGenPage();
	}

{{#partial "table1SitePetGenPage"}}
		table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">			table2SitePetGenPage();
		} g("table");
	}

{{#partial "table2SitePetGenPage"}}
		{{#block "thead1SitePetGenPage"}}
		{{#block "tbody1SitePetGenPage"}}
		{{#block "tfoot1SitePetGenPage"}}
	{{/partial}}

{{#partial "thead1SitePetGenPage"}}
		thead class="w3-pale-green w3-hover-pale-green">			thead2SitePetGenPage();
		} g("thead");
	{{/partial}}

{{#partial "thead2SitePetGenPage"}}
			tr>			{{#if getColumnCreated}}
				<th>"created"</th>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<th>""</th>
			{{/if}}
			} g("tr");
	{{/partial}}

{{#partial "tbody1SitePetGenPage"}}
		tbody>			tbody2SitePetGenPage();
		} g("tbody");
	{{/partial}}

{{#partial "tbody2SitePetGenPage"}}
		Map<String, Map<String, List<String>>> highlighting = listSitePet_.getQueryResponse().getHighlighting();
		for(int i = 0; i < listSitePet_.size(); i++) {
			SitePet o = listSitePet_.getList().get(i);
			Map<String, List<String>> highlights = highlighting == null ? null : highlighting.get(o.getId());
			List<String> highlightList = highlights == null ? null : highlights.get(highlights.keySet().stream().findFirst().orElse(null));
			String uri = "/api/pet/" + o.getPk();
			<tr>;
				{{#if getColumnCreated}}
					<td>
						<a href="{{uri}}">
							<span>{{strCreated}}</span>
						</a>
					} g("td");
				{{/if}}
				{{#if getColumnObjectTitle}}
					<td>
						<a href="{{uri}}">
							<i class="fas fa-dog "></i>
							<span>{{strObjectTitle}}</span>
						</a>
					} g("td");
				{{/if}}
			} g("tr");
		}
	{{/partial}}

{{#partial "tfoot1SitePetGenPage"}}
		tfoot class="w3-pale-green w3-hover-pale-green">			tfoot2SitePetGenPage();
		} g("tfoot");
	{{/partial}}

{{#partial "tfoot2SitePetGenPage"}}
		tr>			SimpleOrderedMap facets = (SimpleOrderedMap)Optional.ofNullable(listSitePet_.getQueryResponse()).map(QueryResponse::getResponse).map(r -> r.get("facets")).orElse(new SimpleOrderedMap());
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
		} g("tr");
	{{/partial}}

	public Boolean getColumnCreated() {
		return true;
	}

	public Boolean getColumnObjectTitle() {
		return true;
	}

{{#partial "htmlBodyFormsSitePetGenPage"}}
		{{# if 
				CollectionUtils.containsAny(siteRequest_.getUserResourceRoles(), ROLES)
				|| CollectionUtils.containsAny(siteRequest_.getUserRealmRoles(), ROLES)
				) {

			{{# if listSitePet_ != null && listSitePet_.size() == 1) {
				button
					.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-", "pale-green ")
						.a("id", "refreshThisSitePetGenPage")
						 onclick=""patchSitePetVals( [ {name: 'fq', value: 'pk:' + " + siteRequest_.getRequestPk() + " } ], {}, function() { addGlow($('#refreshThisSitePetGenPage')); }, function() { addError($('#refreshThisSitePetGenPage')); }); return false; ">						<i class="fas fa-sync-alt "></i>					sx("refresh this pet");
				} g("button");
			}
		}
		{{# if 
				siteRequest_.getUserResourceRoles().contains("SiteAdmin")
				|| siteRequest_.getUserRealmRoles().contains("SiteAdmin")
				) {

			button
				.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-", "pale-green ")
				.a("onclick", "$('#putimportSitePetModal').show(); ")
				.f();
				<i class="fas fa-file-import "></i>				sx("Import pets");
			} g("button");
			div idputimportSitePetModal " class="w3-modal w3-padding-32">				div class="w3-modal-content ">					div class="w3-card-4 ">						header class="w3-container w3-pale-green">							<span class="w3-button w3-display-topright " onclick$('#putimportSitePetModal').hide(); .f().sx("×").g("span");
							<h2 class="w3-padding ".f().sx("Import pets").g("h2");
						} g("header");
						div class="w3-container " idputimportSitePetFormValues.f();
							SitePet o = new SitePet();
							o.setSiteRequest_(siteRequest_);

							// Form PUT
							div idputimportSitePetForm>								htmlFormPUTImportSitePet(o);
							} g("div");
							<button
								.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-", "pale-green ")
								 onclick=""putimportSitePet($('#putimportSitePetForm')); "
								.f().sx("Import pets")
							.g("button");

						} g("div");
					} g("div");
				} g("div");
			} g("div");


			button
				.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-", "pale-green ")
				.a("onclick", "$('#putmergeSitePetModal').show(); ")
				.f();
				<i class="fas fa-code-merge "></i>				sx("Merge pets");
			} g("button");
			div idputmergeSitePetModal " class="w3-modal w3-padding-32">				div class="w3-modal-content ">					div class="w3-card-4 ">						header class="w3-container w3-pale-green">							<span class="w3-button w3-display-topright " onclick$('#putmergeSitePetModal').hide(); .f().sx("×").g("span");
							<h2 class="w3-padding ".f().sx("Merge pets").g("h2");
						} g("header");
						div class="w3-container " idputmergeSitePetFormValues.f();
							SitePet o = new SitePet();
							o.setSiteRequest_(siteRequest_);

							// Form PUT
							div idputmergeSitePetForm>								htmlFormPUTMergeSitePet(o);
							} g("div");
							<button
								.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-", "pale-green ")
								 onclick=""putmergeSitePet($('#putmergeSitePetForm')); "
								.f().sx("Merge pets")
							.g("button");

						} g("div");
					} g("div");
				} g("div");
			} g("div");


			button
				.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-", "pale-green ")
				.a("onclick", "$('#putcopySitePetModal').show(); ")
				.f();
				<i class="fas fa-copy "></i>				sx("Duplicate pets");
			} g("button");
			div idputcopySitePetModal " class="w3-modal w3-padding-32">				div class="w3-modal-content ">					div class="w3-card-4 ">						header class="w3-container w3-pale-green">							<span class="w3-button w3-display-topright " onclick$('#putcopySitePetModal').hide(); .f().sx("×").g("span");
							<h2 class="w3-padding ".f().sx("Duplicate pets").g("h2");
						} g("header");
						div class="w3-container " idputcopySitePetFormValues.f();
							SitePet o = new SitePet();
							o.setSiteRequest_(siteRequest_);

							// Form PUT
							div idputcopySitePetForm>								htmlFormPUTCopySitePet(o);
							} g("div");
							<button
								.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-", "pale-green ")
								 onclick=""putcopySitePet($('#putcopySitePetForm'), ", sitePet_ == null ? "null" : sitePet_.getPk(), "; ")
								.f().sx("Duplicate pets")
							.g("button");

						} g("div");
					} g("div");
				} g("div");
			} g("div");


			button
				.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-", "pale-green ")
				.a("onclick", "$('#postSitePetModal').show(); ")
				.f();
				<i class="fas fa-file-plus "></i>				sx("Create a pet");
			} g("button");
			div idpostSitePetModal " class="w3-modal w3-padding-32">				div class="w3-modal-content ">					div class="w3-card-4 ">						header class="w3-container w3-pale-green">							<span class="w3-button w3-display-topright " onclick$('#postSitePetModal').hide(); .f().sx("×").g("span");
							<h2 class="w3-padding ".f().sx("Create a pet").g("h2");
						} g("header");
						div class="w3-container " idpostSitePetFormValues.f();
							SitePet o = new SitePet();
							o.setSiteRequest_(siteRequest_);

							// Form POST
							div idpostSitePetForm>								htmlFormPOSTSitePet(o);
							} g("div");
							<button
								.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-", "pale-green ")
								 onclick=""postSitePet($('#postSitePetForm')); "
								.f().sx("Create a pet")
							.g("button");

						} g("div");
					} g("div");
				} g("div");
			} g("div");


			button
				.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-", "pale-green ")
				.a("onclick", "$('#patchSitePetModal').show(); ")
				.f();
				<i class="fas fa-edit "></i>				sx("Modify pets");
			} g("button");
			div idpatchSitePetModal " class="w3-modal w3-padding-32">				div class="w3-modal-content ">					div class="w3-card-4 ">						header class="w3-container w3-pale-green">							<span class="w3-button w3-display-topright " onclick$('#patchSitePetModal').hide(); .f().sx("×").g("span");
							<h2 class="w3-padding ".f().sx("Modify pets").g("h2");
						} g("header");
						div class="w3-container " idpatchSitePetFormValues.f();
							SitePet o = new SitePet();
							o.setSiteRequest_(siteRequest_);

							htmlFormPATCHSitePet(o);
							<button
								.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-", "pale-green ")
								 onclick=""patchSitePet(null, $('#patchSitePetFormValues'), ", Optional.ofNullable(sitePet_).map(SitePet::getPk).map(a -> a.toString()).orElse("null", ", function() {}, function() {}); ")
								.f().sx("Modify pets")
							.g("button");

						} g("div");
					} g("div");
				} g("div");
			} g("div");

		}
		htmlSuggestedSitePetGenPage(this, null, listSitePet_);
	

	/**
	**/
	public static void htmlSuggestedSitePetGenPage(String id, SearchList<SitePet> listSitePet_) {
		SiteRequestEnUS siteRequest_ = p.getSiteRequest_();
		try {
			ServiceRequest serviceRequest = siteRequest_.getServiceRequest();
			JsonObject queryParams = Optional.ofNullable(serviceRequest).map(ServiceRequest::getParams).map(or -> or.getJsonObject("query")).orElse(new JsonObject());
			String q = "*:*";
			String query1 = "objectText";
			String query2 = "";
			for(String paramName : queryParams.fieldNames()) {
				String entityVar = null;
				String valueIndexed = null;
				Object paramObjectValues = queryParams.getValue(paramName);
				JsonArray paramObjects = paramObjectValues instanceof JsonArray ? (JsonArray)paramObjectValues : new JsonArray().add(paramObjectValues);

				try {
					for(Object paramObject : paramObjects) {
						switch(paramName) {
							case "q":
								q = (String)paramObject;
								entityVar = StringUtils.trim(StringUtils.substringBefore((String)paramObject, ":"));
								valueIndexed = URLDecoder.decode(StringUtils.trim(StringUtils.substringAfter((String)paramObject, ":")), "UTF-8");
								query1 = entityVar.equals("*") ? query1 : entityVar;
								query2 = valueIndexed.equals("*") ? "" : valueIndexed;
						}
					}
				} catch(Exception e) {
					ExceptionUtils.rethrow(e);
				}
			}

			Integer rows1 = Optional.ofNullable(listSitePet_).map(l -> l.getRows()).orElse(10);
			Integer start1 = Optional.ofNullable(listSitePet_).map(l -> l.getStart()).orElse(1);
			Integer start2 = start1 - rows1;
			Integer start3 = start1 + rows1;
			Integer rows2 = rows1 / 2;
			Integer rows3 = rows1 * 2;
			start2 = start2 < 0 ? 0 : start2;
			StringBuilder fqs = new StringBuilder();
			for(String fq : Optional.ofNullable(listSitePet_).map(l -> l.getFilterQueries()).orElse(new String[0])) {
				if(!StringUtils.contains(fq, "(")) {
					String fq1 = StringUtils.substringBefore(fq, "_");
					String fq2 = StringUtils.substringAfter(fq, ":");
					if(!StringUtils.startsWithAny(fq, "classCanonicalNames_", "archived_", "deleted_", "sessionId", "userKeys"))
						fqs.append("&fq=").append(fq1).append(":").append(fq2);
				}
			}
			StringBuilder sorts = new StringBuilder();
			for(SortClause sort : Optional.ofNullable(listSitePet_).map(l -> l.getSorts()).orElse(Arrays.asList())) {
				sorts.append("&sort=").append(StringUtils.substringBefore(sort.getItem(), "_")).append(" ").append(sort.getOrder().name());
			}

			{{# if 
					CollectionUtils.containsAny(siteRequest_.getUserResourceRoles(), SitePetGenPage.ROLES)
					|| CollectionUtils.containsAny(siteRequest_.getUserRealmRoles(), SitePetGenPage.ROLES)
					) {
					{ p.<div class="">						{ p.<button.a("id", "refreshAllSitePetGenPage", id) class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-pale-green  onclick=""patchSitePetVals([], {}, function() { addGlow($('#refreshAllSitePetGenPage", id, "')); }, function() { addError($('#refreshAllSitePetGenPage", id, "')); }); ".f();
							p.<i class="fas fa-sync-alt "></i>							p.sx("refresh all the pets");
						} p.g("button");
					} p.g("div");
			}
			{ p.<div class="w3-cell-row ">				{ p.<div class="w3-cell ">					{ p.<span>						p.sx("search pets: ");
					} p.g("span");
				} p.g("div");
			} p.g("div");
			{ p.<div class="w3-bar ">
				p.<input
					.a("type", "text")
					.a("class", "suggestSitePet w3-input w3-border w3-bar-item ")
					.a("name", "suggestSitePet")
					.a("id", "suggestSitePet", id)
					.a("autocomplete", "off")
					 oninput=""suggestSitePetObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'pk,pageUrlPk,objectTitle' } ], $('#suggestListSitePet", id, "'), ", p.getSiteRequest_().getRequestPk(), "; ")
					 onkeyup=""if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/api/pet?q=", query1, ":' + encodeURIComponent(this.value) + '", fqs, sorts, "&start=", start2, "&rows=", rows1, "'; }"; 
				{{# if listSitePet_}}
					p.a("value", query2);
				p.fg();
				{ p.<button
					.a("class=\"w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-", "pale-green ")
					 onclick=""window.location.href = '/api/pet?q=", query1, ":' + encodeURIComponent(this.previousElementSibling.value) + '", fqs, sorts, "&start=", start2, "&rows=", rows1, "'; " 
					.f();
					p.<i class="fas fa-search "></i>				} p.g("button");

			} p.g("div");
			{ p.<div class="w3-cell-row ">				{ p.<div class="w3-cell w3-left-align w3-cell-top ">					{ p.<ul class="w3-ul w3-hoverable ".a("id", "suggestListSitePet", id)>					} p.g("ul");
				} p.g("div");
			} p.g("div");
			{ p.<div class="">				{ p.<a href/api/pet " class=">					p.<i class="fas fa-dog ></i>					p.sx("see all the pets");
				} p.g("a");
			} p.g("div");
		} catch(Exception e) {
			ExceptionUtils.rethrow(e);
		}
	{{/partial}}

